
.logo{
    max-width:100%;
	height:auto;
}
    
.col-sm-6 col-md-4 col-lg-3 item{
    position: relative;
    left: 40%;
}
.btnVerProductos{
    background-color: blue;
     width: 20%;height: 10%;
    color: white;
    justify-content: center;
	font-size: 22px;
   border-radius:22px;
;
}
.slide{
    margin-top: 10px;
}
.slide img{
    height: 20%;
}

.navbar navbar-light navbar-expand-md
sticky-top
navigation-clean-button{
    height: 800px; 
    background-color:
     #37434d; 
     color: #567793
}
.card-price {
	display: inline-block;
  
  width: auto;
	height: 38px;

	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	


	/* This makes room for the triangle */
	margin-left: 19px;

	position: relative;
	
	color: black;
	font-weight: bold;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.card-price:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;

}

/* Makes the circle */
.card-price:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}
.text-center p-4{
    background-color: rgba(0, 0, 0, 0.05)
}
h2 {
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid #000; 
	line-height: 0.1em;
	margin: 10px 0 20px; 
 } 
 
 h2 span { 
	 background:#fff; 
	 padding:0 10px; 
 }
 .carousel-inner{
	width:100%;
	max-height: 860px !important;

}
.tales {
	width: 100%;
  }
#btnVerDetalles{
font-size: 15px ;
min-height: 10%;
max-width: 50%;
text-align: center;
justify-content:center;

}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* Animacion 

.image-caption {
	position: absolute;
	bottom: 0px;
	left: 35px;
	font-size: 1.8rem;
	width: 50%;
	transition: 0.2s ease-in-out all;
  }

  .creation-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	transition: 0.2s ease-in-out all;
	left: 0;
	top: 0;
  }
  
  .creation:hover .creation-overlay {
	background: rgba(255, 255, 255, 0.6);
  }
  
  .creation:hover .image-caption {
	color: hsl(0, 0%, 41%);
  }
  
  */

  /* Boton */

  .uppercase{
	  text-transform: uppercase;
  }

  .default-btn {
	border: none;
	cursor: pointer;
	padding: 8px;
	width: 130px;
	text-align: center;
	letter-spacing: 2px;
	background-color: hsl(0, 0%, 100%);
	border: 1px solid #000;
	transition: 0.2s ease-in-out all;
	
  }
  
  .default-btn:hover {
	background-color: #000;
	color: #fff;
  }

/* Carga */

.hidden {
	overflow: hidden;
  }
  
  .centrado {
	height: 100vh;
	background: #c9ccd1;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .lds-roller {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
  }
  .lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #fff;
	margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
  }
  .lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
  }
  .lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
  }
  .lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
  }
  .lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
  }
  .lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
  }
  .lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
  }
  .lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
  }
  @keyframes lds-roller {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
 #centerdiv{
	display: flex;
	align-items: center;
 }
 .downcenter{
	position: absolute;
	bottom: 8px;
		
	transform: translate(-50%, -50%);
 }